body{
    background-color:#000000 ;
    color: white;
}

.first{
    height:50px;
    
}

.again{
    height: 50px;
    display: inline-block;
    width: 30%;
    
}
.btnagain{
    border-radius: 10px;
    position: absolute;
    left: 55px;
    height: 50px;
    width: 13%;
}

.between{   
    width: 50%;
    height: 50px;
    float: right;
}

.between p{
    margin-top:10px;
    text-align: right;
    font-size: 25px;
}

.guessmynumber{
    text-align: center;
    font-size: 30px;
}

.guess{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.inputnumber{
    margin: 73px;
    padding-left: 5px;

}

.number{
    height: 70px;
    width: 20%
}
.btn{
    border-radius: 10px;
    position: absolute;
    left: 55px;
    height: 50px;
    width: 38%
    
}
.number:hover{
    background-color: grey;
}
.btnagain:hover{
    background-color: grey;
}

  .rightup{
    width: 27%;
    float: right; 
    position: absolute; 
    top: 424px;
    right: 109px;
}
 .rightup p{
    font-size: 25px;
    font-weight: bold;
 }